<div *ngIf="usuario">
  <h3>Bem-vindo(a), {{ usuario.nome }}</h3>

  <img title="{{avatar}}" [src]="avatar" width="100" />
  <input title="avatar" type="file" (change)="uploadAvatar($event)" />

  <label for="perfil">Selecione seu Perfil:</label>
  <select id="perfil" [(ngModel)]="selectedPerfil" (change)="selecionarPerfil(selectedPerfil)">
    <option *ngFor="let p of perfis" [value]="p.nome">{{ p.nome }} ({{ p.grau }})</option>
  </select>

  <label for="regional">Selecione sua Regional:</label>
  <select id="regional" [(ngModel)]="selectedRegionalId" (change)="filtrarDivisoes(selectedRegionalId)">
    <option *ngFor="let r of regionais" [value]="r.id">{{ r.nome }}</option>
  </select>

  <label for="divisao">Selecione sua Divisão:</label>
  <select id="divisao" [(ngModel)]="selectedDivisaoId">
    <option *ngFor="let d of divisoes" [value]="d.id">{{ d.nome }}</option>
  </select>

  <button (click)="salvarDadosAdicionais()">Salvar Dados</button>
</div>
